<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apps</key>
	<array>
		<dict>
			<key>detailURL</key>
			<string>https://itunes.apple.com/us/app/psytrack-clinician-tools/id590399925?mt=8</string>
			<key>iconBasename</key>
			<string>Icon@2x.png</string>
			<key>launchURL</key>
			<string></string>
			<key>iconURL</key>
			<string></string>
			<key>name</key>
			<string>PsyTrack</string>
		</dict>
	</array>
	<key>TTL</key>
	<integer>7</integer>
	<key>updateURL</key>
	<string></string>
</dict>
</plist>
