<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>How long does it take to receive a response to my email?</key>
		<string>I am currently a one-man operation and I get many emails daily. I am not sure how many people are going to use this app and have questions.  I will try my best to your answer emails promptly if they pertain to the program. Feedback is always appreciated whether it is positive and encouraging, or by helping by pointing out areas that could be improved.
I try my best to answer every support question.

For support issues, email response time varies. I do try my best to answer as promptly as possible. If I don’t respond within a week, feel free to remind us with another email. I will try my best and I truly do care. </string>
	</dict>
	<dict>
		<key>How do I save a report to a Dropbox folder?</key>
		<string>Install dropbox on your device.  Open the report in the pdf viewer.  Tap the action button (with the arrow) in the toolbar.  Scroll down to dropbox and select it (it may not be visible until you scroll down the list with your finger).  A Dropbox dialoge box will appear that allows you to specify the file name and folder where you want to import the file.</string>
	</dict>
	<dict>
		<key>Any more Frequently Asked Questions?</key>
		<string>I will add more frequently asked questions as they come in.  I you have a question that is frequently asked, I will add it here.  So please send me your questions.</string>
	</dict>
	<dict>
		<key>How do I put an electronic signature on a practicum log report?</key>
		<string>Install Adobe Reader.  Open the pef report in the viewer and tap the action button at the top (with the arrow on it) and select adobe reader application.  Adobe reader allows you to write your signature on a pdf with your finger.  It also allows you to add text to a pdf.  You can then expot it from adobe reader to a dropbox folder with the signatures on it.  You can also open the file on your computer with Adobe Acrobat and sign and certify the document with a digital id.  </string>
	</dict>
	<dict>
		<key>Why are some of the “Done” buttons disabled on the forms?  </key>
		<string>The done buttons will disable and you will not be able to save the data in the form if certain required fields are missing or if they contain invalid data.  For example, when adding a clinician, the done button is disabled until something is entered in the first and last name fields.</string>
	</dict>
	<dict>
		<key>How do I back up the data?</key>
		<string>The database is backed up when you back up your device software in iTunes or iCloud.  You can set up iCloud to automatically create secure backups of your device software.  iCloud is nice because if you somehow loose your device or have a fire and all your hardware is destroyed, you can pick up where you left off with the last back up.</string>
	</dict>
	<dict>
		<key>What are the relevant HIPPA rules regarding client information?</key>
		<string>It is very important that you review the The Health Insurance Portability and Accountability Act of 1996 (HIPAA) Privacy and Security Rules before entering any client information into this app.  This app is intended to be used for statistical tracking purposes, not client record keeping.  The information you enter related to clients should be completely de-identified, which includes id numbers that can be traced to clients.  It is also recommended that you use the lock screen and lock screen that comes with your device.

http://www.hhs.gov/ocr/privacy/hipaa/understanding/summary/index.html

“De-Identified Health Information. There are no restrictions on the use or disclosure of de-identified health information.14 De-identified health information neither identifies nor provides a reasonable basis to identify an individual. There are two ways to de-identify information; either: (1) a formal determination by a qualified statistician; or (2) the removal of specified identifiers of the individual and of the individual’s relatives, household members, and employers is required, and is adequate only if the covered entity has no actual knowledge that the remaining information could be used to identify the individual.15 “
</string>
	</dict>
</array>
</plist>
