<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>iCloud</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>iCloud must be enbled and have &quot;Documents and Data&quot; turned on in the iCloud settings (iOS &gt;5.0). </string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>icloud_preference</string>
			<key>Title</key>
			<string>Use iCloud</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>LCYLockSettings</key>
	<dict>
		<key>lock_screen_passcode_is_on</key>
		<false/>
		<key>New item</key>
		<string></string>
		<key>lockScreenPasscode</key>
		<string></string>
		<key>lock_screen_locked</key>
		<false/>
		<key>lock_screen_passcode_attempt</key>
		<integer>0</integer>
		<key>lock_screen_timer_on</key>
		<false/>
	</dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string></string>
</dict>
</plist>
