<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Location</string>
			<key>Key</key>
			<string>calander_location</string>
			<key>DefaultValue</key>
			<string>The Clinic</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>psyTrack Settings</string>
	<key>defaultCalendarIdentifier</key>
	<string></string>
	<key>address_book_group_identifier</key>
	<integer>-1</integer>
	<key>address_book_source_identifier</key>
	<integer>-1</integer>
	<key>AddressBookContactIdentifier</key>
	<string></string>
	<key>address_book_group_name</key>
	<string></string>
	<key>auto_add_clinician_to_group</key>
	<true/>
	<key>current_key_dictonary</key>
	<dict>
		<key>current_key_date</key>
		<string></string>
		<key>current_key_string</key>
		<date>2012-04-13T02:57:38Z</date>
	</dict>
	<key>lock_screen_padlock_sound_is_on</key>
	<true/>
	<key>monthly_practicum_log_number</key>
	<integer>0</integer>
</dict>
</plist>
